
 @theme {
    --color-blue-100: #F4F7F7;
    --color-gray-800: #504C4A;

    --background-image-texture: url('../assets/img/Texture.png');

    --font-montserrat: var(--di-font-montserrat);

    --text-h1: 48px;
    --text-h1--line-height: 100%;
    --font-weight-h1: 600;

    --text-h2: 34px;
    --text-h2--line-height: 110%;
    --font-weight-h2: 600;

    --text-h3: 28px;
    --text-h3--line-height: 110%;
    --font-weight-h3: 600;

    --text-h4: 16px;
    --text-h4--line-height: 140%;
    --font-weight-h4: 600;

    --text-text: 20px;
    --text-text--line-height: 150%;
    --font-weight-text: 400;

 }

 @layer components{
    .h1{
    }
 }