@theme {
  --color-blue-100: #f4f7f7;
  --color-gray-800: #504c4a;
  --color-gray-400: #a4a4a4;

  --background-image-texture: url("../assets/img/Texture.png");

  --font-montserrat: var(--di-font-montserrat);

  --text-h1: 48px;
  --leading-h1: 110%;
  --font-weight-h1: 600;

  --text-h1-mobile: 24px;
  --leading-h1-mobile: 110%;
  --font-weight-h1-mobile: 600;

  --text-h2: 34px;
  --leading-h2: 110%;
  --font-weight-h2: 600;

  --text-h3: 28px;
  --leading-h3: 110%;
  --font-weight-h3: 600;

  --text-h4: 16px;
  --leading-h4: 140%;
  --font-weight-h4: 600;

  --text-h4-mobile: 14px;
  --leading-h4-mobile: 140%;
  --font-weight-h4-mobile: 600;

  --text-text: 20px;
  --leading-text: 150%;
  --font-weight-text: 400;

  --text-text-mobile: 14px;
  --leading-text-mobile: 1200%;
  --font-weight-text: 400;

  --breakpoint-sm: 330px;
  --breakpoint-md: 681px;
}

@utility h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  color: var(--color-gray-800);
}

@utility h2 {
  font-size: 34px;
  font-weight: 600;
  line-height: 110%;
  color: var(--color-gray-800);
}

@utility h2-mobile {
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
  color: var(--color-gray-800);
}
